<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Pharma-Q</title>
    <!-- Local CSS dependency -->
    <link type="text/css" rel="stylesheet" href="./static/css/style.css" />

  </head>
  <body>
    <center>
      <h1>Pharma-Q</h1>
      <hr />
     
      <p style="font-size:20px;"> Thank you! Your image has been uploaded successfully and the database updated thanks to your contribution </p>

      <p style="font-size:20px"> <b>File Name</b>: {{file_name}} </p>  

      <p style="font-size:20px"> <b>Number of people found in the uploaded image </b> : {{number_people}} </p>

      <img style=" width: 50%; height: 50%;" class="img-uploaded-raw" src="./static/imgs_processed/{{file_name}}" />




    </center>
  </body>
</html>
